$base-color:#263238;
$base-color-light:#4f5b62;
$base-color-dark:#000a12;

$secondary-color:#c62828;
$secondary-color-light:#ff5f52;
$secondary-color-dark:#8e0000;

$error-color:rgb(131, 42, 42);
$success-color:rgb(16, 87, 16);
$warning-color:rgb(175, 129, 43);
$info-color:$base-color-light;

$base-text-color:white;
$base-text-color-secondary:black;

