@import '../../Base/Utils/Styles/colors.scss';

.topbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:$base-color-dark;
    height: 100%;
    width: 100%;
    color:$secondary-color-light;
    z-index: 20;

}


.topbar-wrapper .side{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50px;
    height: 100%;
    padding-right: 5%;
}

.topbar-wrapper .side svg{
    height:100%;
    width: 100%;
    max-width: 50px;
    color:white;
}

.topbar-wrapper .center{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 80%;
    height: 100%;
}


.topbar-wrapper .center p{
    color: white;
    font-size: 22px;
}
