@import '../../Base/Utils/Styles/colors.scss';

.mealCard-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $base-color;
    color:$base-text-color;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    cursor: pointer;

}


.mealCard-wrapper .icons-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}