@import '../../Base/Utils/Styles/colors.scss';


.navbar-wrapper{
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: row;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: $base-color;
    z-index: 10;
  }
  .navbar-wrapper svg{
    width: 100%;
    height: 30px;
    color: $base-text-color;
  }

  .navbar-wrapper .navbar-items-wrapper{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    width: 100%;
  }
